<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wir benötigen Ihren Standort, um ihn auf der Karte anzuzeigen.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Diese App verwendet das Mikrofon, um Ihre Sprachbefehle zu erfassen</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Diese App verwendet Spracherkennung, um gesprochene Eingaben in Text umzuwandeln und so Ihre Benutzererfahrung zu verbessern.</string>
</dict>
</plist>
